// Categories Page
.categories-list {
  .category-list.with-topics {
    .category-list-item {
      background-color: var(--secondary);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left-width: 4px;
    }
  }
}

.container.list-container {
  padding: 1rem;
}

//
.contents.ember-view {
}

table.topic-list {
  background-color: var(--secondary);
  border-radius: $radius;
  border-collapse: separate;
  @include boxShadow;
  padding: 1rem 0;

  tbody {
    border-top: 0;

    tr {
      border-bottom: 1px solid red;
      td {
        &:first-of-type {
          padding-left: 1rem;
        }
        &:last-of-type {
          padding-right: 1rem;
        }
      }
    }
  }
}
