// Default variables
@import "facepunch/variables";

// General Styles (Body etc)
@import "facepunch/general";
@import "facepunch/form";
@import "facepunch/header";
@import "facepunch/footer";

// Views
@import "facepunch/categories";
@import "facepunch/forum";
@import "facepunch/post";
@import "facepunch/profile";

@media screen and (min-width: 925px) {
  .archetype-regular {
    #topic-footer-buttons {
      #topic-footer-button-share-and-invite,
      .topic-notifications-button {
        display: none;
      }

      .topic-footer-main-buttons {
        justify-content: center;
      }
    }

    .title-voting {
      float: right;
    }

    .topic-avatar,
    .topic-body {
      border-top: 0;
      padding-top: 2rem;
    }

    .container.posts {
      position: relative;
      display: block;
    }

    .container.posts .topic-navigation {
      > div {
        position: absolute;
        right: -135px;
      }
    }

    .topic-post {
      border-left: 0;

      .row {
        display: flex;

        .topic-avatar,
        .topic-body {
          float: none;
          //   width: auto;
        }

        .topic-body {
          flex-grow: 1;
        }
      }

      .actions {
        opacity: 0.5;
      }

      &:hover {
        .actions {
          opacity: 1;
        }
      }
    }

    #main-outlet {
      max-width: 760px;
      position: relative;
      left: -45px;
    }
  }

  .topic-navigation {
    color: #fff;
    --primary-med-or-secondary-med: #fff;
    --tertiary-low-or-tertiary-high: #fff;
    text-shadow: 0px 0px 20px black;
  }
}

.categories-and-latest {
  .category-heading {
    display: none;
  }

  .latest-topic-list {
    .title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 !important;
      display: inline-block !important;
      max-width: 100%;
    }
  }
}

table.topic-list {
  > thead tr,
  > tbody {
    border: none;
  }

  .topic-list-item-separator {
    height: 7px;
  }

  .posters {
    width: 107px;
  }

  > thead tr th {
    background-color: var(--primary-very-low);
    font-weight: bolder;
    padding: 1.5rem 0rem !important;

    &:first-of-type {
      border-radius: 8px 0 0 0;
      padding-left: 2rem !important;
    }

    &:last-of-type {
      border-radius: 0 8px 0 0;
      padding-right: 2rem !important;
    }
  }

  > tbody tr {
    border-bottom: none;
  }

  > tbody tr td {
    background-color: var(--secondary);
    border-left: none !important;
    border-bottom: 1px solid var(--primary-low);

    &:first-of-type {
      padding-left: 2rem;
      position: relative;
    }

    &:last-of-type {
      padding-right: 2rem;
    }

    &.main-link {
      span.link-top-line {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        max-width: 90%;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 1rem;
        top: 1.1rem;

        a:hover {
          color: $brightblue;
        }
      }

      div.link-bottom-line {
        margin-top: 2rem;
        opacity: 0.4;
      }
    }

    &.posters {
      a {
        margin-right: 2px;
      }

      img {
        width: 16px;
        height: 16px;
      }

      a:first-of-type,
      a.latest {
        img {
          width: 24px;
          height: 24px;
        }
      }

      img:hover {
      }
    }
  }

  > tbody tr.unseen-topic {
    td.main-link div.link-bottom-line {
      opacity: 0.8;
    }
  }

  > tbody tr.new-posts {
    td.main-link div.link-bottom-line {
      opacity: 0.8;
    }
  }

  > tbody tr.unseen-topic {
    //  border-left: 5px solid yellow;
  }

  > tbody tr:last-of-type td {
    &:first-of-type {
      border-radius: 0 0 0 8px;
    }

    &:last-of-type {
      border-radius: 0 0 8px 0;
    }
  }
}

.reviewable,
body.admin-interface #main-outlet,
body.badges-page #main-outlet,
body.users-page #main-outlet,
body.user-activity-page #main-outlet,
body.user-summary-page #main-outlet,
body.user-invites-page #main-outlet,
body.user-preferences-page #main-outlet,
body.static-faq #main-outlet,
body.about-page #main-outlet,
body.static-tos #main-outlet,
body.static-privacy #main-outlet,
body.tags-page #main-outlet,
body.groups-page #main-outlet {
  background-color: var(--secondary);
  padding: 2rem 2rem;
  border-radius: 9px;
}
